{% extends 'base.html' %}

{% block title %}MultiPlay! - ¡A Multiplicar!{% endblock %}

{% block content %}
    <div class="container game-container">
        <h2 class="profile-name">¡Hola, {{ profile }}!</h2>

        <div id="game-content">
            <div class="question-box">
                <p class="question-text">¿Cuánto es?</p>
                <p class="multiplication-text"><span id="num1-display">{{ num1 }}</span> x <span id="num2-display">{{ num2 }}</span> = ?</p>
            </div>
            <div class="options-grid" id="options-grid">
                {% for option in options %}
                <button data-answer="{{ option }}" class="btn option-btn option-color-{{ loop.index }}">
                    {{ option }}
                </button>
                {% endfor %}
            </div>
            <input type="hidden" id="correct_answer" value="{{ correct_answer }}">
            <input type="hidden" id="question_id" value="{{ question_id }}">
            <input type="hidden" id="num1" value="{{ num1 }}">  
            <input type="hidden" id="num2" value="{{ num2 }}">  
        </div>

        <div id="feedback-message" class="feedback-message" style="display:none;"></div>
    </div>

    <audio id="correctSound" src="{{ url_for('static', filename='audio/correct.mp3') }}" preload="auto"></audio>
    <audio id="incorrectSound" src="{{ url_for('static', filename='audio/incorrect.mp3') }}" preload="auto"></audio>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}