{% extends 'base.html' %}

{% block title %}MultiPlay!{% endblock %}

{% block content %}
    <div class="container welcome-container">
        <h1>¡Bienvenidas a MultiPlay!</h1>
        <p>¡Elige tu perfil para empezar a practicar!</p>
        <form action="{{ url_for('select_profile') }}" method="post">
            <div class="profile-buttons">
                <button type="submit" name="profile" value="Paula" class="btn profile-btn paula-btn">Soy Paula</button>
                <button type="submit" name="profile" value="Sofia" class="btn profile-btn sofia-btn">Soy Sofía</button>
            </div>
        </form>
    </div>

    {% endblock %}